@import '../sass/variables.scss';

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .header-text {
    display: inline-block;
    margin: 0 0 3.5rem;
    padding: 0 1rem 0rem;
    font-size: 2rem;
    color: $heading-font-color-l2;
    border-bottom: 3px solid #BCBCBC;
  }
}
