@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@400;500;600;700;900&display=swap');
@import './variables.scss';

// custom scrollbar
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background-color-l1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(150, 150, 150);
  border: 2px solid $background-color-l1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(125, 125, 125);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color-l1;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 0 10rem 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-font-color-l2;
}

h3 {
  margin: 1rem 0 0.75rem 0;
}

h4 {
  margin: 0.5rem 0 0.5rem 0;
}

p {
  color: $p-color;
  margin-top: 0;
  line-height: 1.1rem;
  font-size: 0.75rem;
  font-family: $font;
}

a {
  text-decoration: none;
}

span {
  font-family: $font;
}

input,
textarea {
  font-family: $font;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1px solid rgb(150, 150, 150);
}

section {
  display: flex;
  justify-self: center;
  background-color: $background-color-l1;
  margin-top: 7rem;
  padding: 7rem 0 0;
}

// section:nth-child(odd) {
//   background-color: $background-color-l2;
// }

section>div>div {
  margin: $body-margin;
}

@include devices(monitor) {
  section>div {
    width: 1024px;
    margin: auto;
  }
}

@include devices(laptop) {
  section>div {
    width: 768px;
    margin: auto;
  }

  section>div>div {
    margin: $body-margin;
  }
}

@include devices(tablet) {

  section>div {
    width: 90%;
    margin: auto;
  }

  section>div>div {
    margin: $body-margin-xs;
  }
}

@include devices(mobile) {
  section>div {
    width: 90%;
    margin: auto;
  }

  section>div>div {
    margin: $body-margin-xs;
  }
}
