$heading-font: 'Poppins', sans-serif;
$font: 'Poppins', sans-serif;
$heading-font-color-l1: #919191;
$heading-font-color-l2: #494949;
$nav-font-color: #777777;
$nav-font-color-hover: #afafaf;
$p-color: #767676;
$input-color: #505050;

$background-color-l1: #f5f5f5;
$background-color-l2: #fff;

$body-margin: 0 6rem;
$body-margin-md: 0 5rem;
$body-margin-sm: 0 3rem;
$body-margin-xs: 0 1.75rem;

$button-color: #393939;
$button-color-disabled: #848484;
$button-color-icon: #505050;
$button-color-hover: #000000;


// Breakpoints
@mixin devices ($breakpoint) {

  @if $breakpoint ==monitor {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint ==laptop {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media screen and (min-width: 425px) and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint ==mobile {
    @media screen and (max-width: 425px) {
      @content;
    }
  }
}
