@import '../index.scss';

.primary {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  width: 10rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0rem;
}

.primary:hover {
  background-color: $button-color-hover;
  cursor: pointer;
}

.primary:disabled {
  background-color: $button-color-disabled;
  cursor: default;
}

.primary i {
  padding-left: 0.75rem;
  font-size: 0.85rem;
}

.xs {
  @extend .primary;
  font-size: 0.85rem;
  width: 6rem;
  height: 2.25rem;
  margin: 0 auto;
}

.sm {
  @extend .primary;
  width: 12rem;
  height: 2.75rem;
  margin: 0 auto;
}

.md {
  @extend .primary;
  width: 17.5rem;
}

.lg {
  @extend .primary;
  width: 22.5rem;
}

.xl {
  @extend .primary;
  width: 100%;
}
