@import '../index.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $background-color-l2;
  transition: all 0.5s ease;
  box-shadow: 5px 5px 10px rgb(201, 201, 201);
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  border: none;
  width: 100%;
  animation: appear 0.5s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-click::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}

.card-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1.25rem 1rem;
  height: max-content;
  width: 100%;

  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .card-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .card-icons a {
      font-size: 1.25rem;
      padding: 0;
      margin: 0 0.33rem;
      text-decoration: none;
      color: $heading-font-color-l2;
      transition: transform 0.25s ease
    }

    .card-icons a:hover {
      color: $button-color-hover;
      transform: translateY(-0.15rem)
    }
  }

  .card-content p {
    width: 100%;
  }

  .tech {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
  }

  .tech span {
    font-size: 0.7rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
    padding: 0.5rem 0.75rem;
    border: 1px solid $button-color-hover
  }
}

@include devices(monitor) {
  .card {
    width: 49.15%;
  }
}

@include devices(laptop) {
  .card {
    width: 95%;
  }
}

@include devices(tablet) {
  .card {
    width: 100%;
  }
}

@include devices(mobile) {
  .card {
    width: 100%;
  }
}
