@import '../index.scss';

@keyframes drawer-in {
  from {
    transform: translateY(-20rem);
  }

  to {
    transform: translateY(0);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.modal {
  background-color: $background-color-l1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: 0px 5px 10px #dadada;
  animation: drawer-in 0.5s ease;
}
