@import "../index.scss";

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: $background-color-l1;
  padding: 2rem 1rem 1.5rem 0;
  width: 100%;
  position: fixed;
  transition: all 0.33s ease;
  transform: translateY(-100px);
  box-shadow: 0px 0px 0px #dadada;
  z-index: 2;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .one {
      animation: appear 0.75s ease;
    }

    .two {
      animation: appear 1s ease;
    }

    .three {
      animation: appear 1.25s ease;
    }

    .four {
      animation: appear 1.5s ease;
    }

    .five {
      animation: appear 1.75s ease;
    }
  }
}

.navButton,
.mobileNavLink {
  text-decoration: none;
  font-size: 0.75rem;
  margin: 0 1.5rem;
  border: none;
  background-color: transparent;
  color: $nav-font-color;
  cursor: pointer;
}

.navButton:hover,
.navButton:active,
.mobileNavLink:hover,
.mobileNavLink:active {
  color: $nav-font-color-hover;
}

@include devices(tablet) {
  .section {
    justify-content: center;
    padding: 2rem 0;
  }
}

@include devices(mobile) {
  .section {
    justify-content: center;
    padding: 2rem 0;
  }
}

.show {
  @extend .section;
  padding: 2rem 0 2rem;
  transform: translateY(0px);
  box-shadow: 0px 5px 10px #dadada;
  z-index: 3;
}

.top {
  @extend .show;
  box-shadow: 0px 0px 0px #dadada;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobileNavHam {
  cursor: pointer;
  text-decoration: none;
  color: $button-color-icon;
}

.mobileNavHam:hover {
  color: $button-color-hover;
}

.mobileNavHam i {
  font-size: 2rem;
}

.mobileNavLink,
.mobileNavButton {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.mobileNavButton {
  text-decoration: none;
  margin: 2rem 0 3.5rem;
}
