@import '../variables.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  backdrop-filter: blur(5px);
}

.modal {
  background-color: white;
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 3;
  overflow: hidden;
}
