@import '../variables.scss';

.sidebar {
  position: fixed;
  bottom: 0px;
  left: 30px;
  right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  margin: 0px auto;
  background-color: black;
}

@include devices(tablet) {
  .sidebar {
    visibility: hidden;
  }
}

@include devices(mobile) {
  .sidebar {
    visibility: hidden;
  }
}
