@import '../index.scss';

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  position: relative;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 6rem 3rem 1rem;
  animation: appear 0.5s ease;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.introHide {
  @extend .intro;
  opacity: 0;
  z-index: 0;
}

.intro p {
  font-size: 0.95rem;
  line-height: 1.25rem;
  margin: 0 0 4rem 0;
}
