@import '../index.scss';

section {
  display: flex;
}

.home {
  display: flex;
  flex-direction: column;
  justify-self: center;

  .banner {
    display: flex;
    flex-direction: column;
    height: 32.5rem;
    justify-content: center;

    .bannerLead {
      line-height: 0.5rem;
      margin: 0.25rem 0 0.25rem 0;
      color: #919191;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 0.15rem;
      animation: appear 0.5s ease;
    }

    .bannerTitle {
      line-height: 1rem;
      margin: 1rem 0 1rem 0;
      color: #393939;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 2.5rem;
      animation: appear 1s ease;
    }

    .bannerQuote {
      margin: 0.5rem 0 0rem 0;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      font-size: 0.85rem;
      width: 35rem;
      animation: appear 1.5s ease;
    }

    .bannerQuote span {
      font-weight: 400;
      animation: appear 1.5s ease;
    }

    .bannerQuote em {
      font-weight: 200;
      animation: appear 1.5s ease;
    }
  }

  .banner a {
    animation: appear 2s ease;
  }

  .banner a:active {
    text-decoration: none;
    color: none;
  }
}

@include devices(laptop) {

  .bannerTitle {
    font-size: 2.75rem;
    line-height: 2.75rem;
    margin: 0.2rem 0;
  }

  .bannerQuote {
    margin-top: 0.33rem;
  }
}

@include devices(tablet) {

  .home {
    .banner {
      text-align: center;
      align-items: center;

      .bannerLead {
        font-size: 1.25rem;
      }

      .bannerTitle {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin: 0.25rem 0;
      }

      .bannerQuote {
        text-align: justify;
        width: 97.5%;
      }
    }
  }
}

@include devices(mobile) {

  .home {
    .banner {
      text-align: center;
      align-items: center;

      .bannerLead {
        font-size: 1rem;
      }

      .bannerTitle {
        font-size: 1.7725rem;
        line-height: 1.75rem;
        margin: 0.25rem 0;
      }

      .bannerQuote {
        text-align: justify;
        width: 100%;
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
