@import '../index.scss';

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 14px;
}

@include devices (tablet) {
  .content {
    margin-top: 2rem;
  }
}

@include devices (mobile) {
  .content {
    margin-top: 2rem;
  }
}
