@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@400;500;600;700;900&display=swap');
@import './sass/variables.scss';


html {
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: $heading-font-color-l2;
}

h3 {
  margin: 1rem 0 0.75rem 0;
}

h4 {
  margin: 0.5rem 0 0.5rem 0;
}

p {
  color: $p-color;
  margin-top: 0;
  line-height: 1.1rem;
  font-size: 0.75rem;
  font-family: $font;
}

span {
  font-family: $font;
}

section {
  display: flex;
  justify-self: center;
  background-color: $background-color-l1;
  padding: 3rem 0 3rem;
}

section:nth-child(odd) {
  background-color: $background-color-l2;
}

section>div>div {
  margin: $body-margin
}

section.nav {
  background-color: $background-color-l1;
  padding: 3rem 0 0 0;
}

@include devices(monitor) {
  section>div {
    width: 1000px;
    margin: auto;
  }
}

@include devices(laptop) {
  section {
    width: 107.22%;
  }

  section>div {
    width: 1000px;
    margin: auto;
  }
}

@include devices(tablet) {
  section {
    width: 193.1%;
  }

  section>div {
    margin: auto;
  }
}

@include devices(mobile) {
  section {
    width: 257.1%;
  }

  section>div {
    margin: auto;
  }
}
