@import '../variables.scss';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3.25rem 0;

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .background {
      display: flex;
      flex-direction: column;
      padding-right: 4rem;

      .text {
        margin: 0.25rem 0;
        text-align: justify;
      }

      .text>a {
        color: $nav-font-color-hover;
        text-decoration: underline;
      }

      .text>a:hover {
        color: $button-color-hover;
      }
    }

    .skills {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .text {
        display: flex;
        flex-flow: column wrap;
        width: 18rem;
        height: 12rem;
        gap: 2.5px 30px;
        font-size: 0.75rem;
        font-family: $font;
        line-height: 1rem;
      }

      .text>p {
        margin: 0 0 0.25rem 0;
      }
    }
  }
}

@include devices(monitor) {
  .about {
    width: 1000px;
    margin: auto;
  }
}


@include devices(tablet) {
  .about {
    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .background {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-right: 0rem;

        .skills {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 1rem 2.5rem;
        }
      }
    }
  }
}
