@import '../variables.scss';

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .intro {
    p {
      padding-top: 0.5rem;
      margin-right: 3rem;
    }

    .social {
      display: flex;
      flex-direction: row;
      padding-left: 1rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .formHeader {
      display: flex;
      flex-direction: row;
      margin-bottom: 2rem;
    }

    .formHeader input {
      width: 50%;
      font-size: 0.75rem;
      font-weight: 300px;
      line-height: 1.75rem;
      color: #b3b3b3;
      border: none;
      border-bottom: 1px solid #d9d9d9;
      padding: 0 0 0.2rem 0.5rem;
    }

    input[name=name] {
      margin-right: 2rem;
    }

    .formMessage textarea {
      font-size: 0.75rem;
      resize: vertical;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 0;
      padding: 0.5rem 0.5rem;
      margin-bottom: 0;
      width: 100%;
      min-height: 12rem;
      max-height: 20rem;
    }
  }
}

@include devices(tablet) {
  .form {
    margin-top: 2rem;
  }
}

@include devices(mobile) {
  .form {
    margin-top: 2rem;
  }
}
