@import '../variables.scss';

.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: $background-color-l1;

  .navButton {
    margin: 0 1rem 0 1rem;
    border: none;
    background-color: transparent;
    color: $nav-font-color;
    cursor: pointer;
  }

  .navButton:hover,
  .navButton:active {
    color: $nav-font-color-hover;
  }
}

@include devices(laptop) {
  .nav {
    width: 1000px;
    margin: auto;
  }
}
