@import '../variables.scss';

.section {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: $background-color-l1;
  padding: 2rem 1rem 1.5rem 0;
  position: fixed;
  right: 0;
  width: 100%;
  transition: all 0.33s ease;
  transform: translateY(-100px);
  box-shadow: 0px 0px 0px #dadada;
  z-index: 1;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    Button {
      margin: 0 1rem;
    }

    .navButton {
      text-decoration: none;
      font-size: 0.75rem;
      margin: 0 1.5rem;
      border: none;
      background-color: transparent;
      color: $nav-font-color;
      cursor: pointer;
    }

    .navButton:hover,
    .navButton:active {
      color: $nav-font-color-hover;
    }
  }
}

.show {
  @extend .section;
  transform: translateY(0px);
  box-shadow: 0px 5px 10px #dadada;
}

.top {
  @extend .show;
  box-shadow: 0px 0px 0px #dadada;
}

@include devices(tablet) {
  .section {
    visibility: hidden;
  }
}

@include devices(mobile) {
  .section {
    visibility: hidden;
  }
}
