@import '../variables.scss';

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: $background-color-l1;
  padding: 2rem 1rem 1.5rem 0;
  width: 100%;
  position: fixed;
  transition: all 0.33s ease;
  transform: translateY(-100px);
  box-shadow: 0px 0px 0px #dadada;
  z-index: 1;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    Button {
      margin: 0 1rem;
    }


    .one {
      animation: appear 0.25s ease;
    }

    .two {
      animation: appear 0.40s ease;
    }

    .three {
      animation: appear 0.65s ease;
    }

    .four {
      animation: appear 0.80s ease;
    }

    .five {
      animation: appear 0.95s ease;
    }
  }
}

.navButton,
.mobileNavLink {
  text-decoration: none;
  font-size: 0.75rem;
  margin: 0 1.5rem;
  border: none;
  background-color: transparent;
  color: $nav-font-color;
  cursor: pointer;
}

.navButton:hover,
.navButton:active,
.mobileNavLink:hover,
.mobileNavLink:active {
  color: $nav-font-color-hover;
}

.show {
  @extend .section;
  transform: translateY(0px);
  box-shadow: 0px 5px 10px #dadada;
}

.top {
  @extend .show;
  box-shadow: 0px 0px 0px #dadada;
}

@include devices(tablet) {
  .section {
    justify-content: center;
    padding: 2rem 0;
  }
}

@include devices(mobile) {
  .section {
    justify-content: center;
    padding: 2rem 0;
  }
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobileNavOpener,
.mobileNavCloser {
  cursor: pointer;
  text-decoration: none;
  color: $button-color-icon;
  z-index: 4;
}

.mobileNavOpener:hover,
.mobileNavCloser:hover {
  color: $button-color-hover;
}

.mobileNavOpener i,
.mobileNavCloser i {
  font-size: 2rem;
}

.mobileNavCloser i {
  margin: 2rem 0 1rem;
  padding-right: 12px;
}

.mobileNavLink,
.mobileNavButton {
  font-size: 1.5rem;
  margin: 2rem 0;
  padding-right: 12px;
}

.mobileNavButton {
  text-decoration: none;
  margin: 1.25rem 0 3rem;
}
