@import '../variables.scss';

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 10px;
}

@include devices (tablet) {
  .content {
    margin-top: 2rem;
  }
}

@include devices (mobile) {
  .content {
    margin-top: 2rem;
  }
}
